API_KEY= os.getenv("1RSlgaz15wSfs5x3bP")
API_SECRET= os.getenv("m6OJFYQpBh7NaYu90v3987cXMRynzhX4YIaR")
BOT_TOKEN= os.getenv("8676737582:AAGzbAPLFF782ian-RK-TdOKUOy0-eViCu8")
CHAT_ID= os.getenv("6730612406")
